.container {
    display: flex;
  }

  .user-grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    margin: 20px;
  }
  .ai-grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 20px;
  }

  