.container {
    display: flex;
  }

  .user-grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: blue;
    margin: 20px;
  }
  .ai-grid {
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: lightgreen;
    margin: 20px;
  }

  .grid div {
   width: 34px;
   height: 34px;
   border-style: solid ;
   border-width: 0.001px;
   margin: 2px;
  }

  .smShip-container {
    width: 80px;
    height: 40px;
    background-color: orange;
    margin: 10px;
    display: flex;
    border-radius: 10px;
  }
  .smShip-container-vertical {
    width: 40px;
    height: 80px;
    background-color: orange;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  
  .mdShip-container {
    width: 120px;
    height: 40px;
    background-color: greenyellow;
    margin: 10px;
    display: flex;
    border-radius: 10px;
  }
  
  .mdShip-container-vertical {
    width: 40px;
    height: 120px;
    background-color: greenyellow;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  
  .lgShip-container {
    width: 120px;
    height: 40px;
    background-color: red;
    margin: 10px;
    display: flex;
    border-radius: 10px;
  }
  
  .lgShip-container-vertical {
    width: 40px;
    height: 120px;
    background-color: red;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
  }
  
  
  .ship div {
    width: 40px;
    height: 40px;
    border-radius: 5px;
  }
  
  .smShip {
    background-color: orange;
   border-radius: 5px;
  }
  
  .mdShip {
    background-color: aqua;
    border-radius: 5px;
  }
  
  .lgShip {
    background-color: purple;
    border-radius: 5px;
  }
  
  .boom {
    background-color: red;
  }
  
  .miss {
     background-color: black;
  }
